body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #ececec, #9fd3c7);
    
}
header ul{
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: left;
    margin: 0;
    
}
header ul li{
    list-style: none;
    margin-right: 50px;
    height: 40px;
    font-size: 25px;
}
header ul li a {
    text-decoration: none;
    color: #142d4c;
}
header ul li:first-child{
    height: 100%;

}
header ul li img{
    width: 120px;
    height: auto;
}

/*---------- Contact ----------*/
#BG{
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: -1;
}
.conteneur-contact{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
}
.contact{
	max-width: 900px;
	display: flex;
	background-color: #fff;
    height: 600px;
    margin: 0;
}

.gauche{
	background: url("../img/Contact.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
    width: 50%;
}

.droit{
	padding: 25px 100px;
    width: 50%;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: violet;
}

.input{
	width: 90%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: gainsboro;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.input:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: red;
	color: white;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 5px;
}

.btn:hover{
    background-color: crimson;
}



/*---------- Footer ----------*/

footer{
    width: 100%;
    height: 500px;
    background-color: #233142;
    padding-top: 100px;
}
.footer-conteneur{
    width: 100%;
    height: 400px;
    background-color: #385170;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.footer-col{
    width: 30%;
    height: 100%;
}
.links ul{
    list-style: none;
    padding: 0;
}
.links a{
    text-decoration: none;
    color: #e3e3e3;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s ease;
}
.links a:hover{
    font-size: 25px;
    transition: all 0.5s ease;
}
.footer-col h4{
    text-align: center;
    font-size: 30px;
    position: relative;
    width: auto;

    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 47%;
    bottom: -15px;
    background-color: crimson;
    width: 25px;
    height: 3px;
    transition: all 0.5s ease-in-out;
}
.footer-col h4:hover::before{
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.links li{
    text-align: center;
    line-height: 40px;
    
}

.actualites input[type="email"] {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    font-size: 15px;
}
iframe{
    width: 100%;
    height: 250px;
    
}
.actualites input[type="button"]{
    margin-top: 60px;
    margin-left: 26%;
    border: 0;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: #e3e3e3;
    background-color: #233142;
    transition: all 0.5s ease-in-out;
}
.actualites input[type="button"]:hover{
    background-color: #142d4c;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}